
<div class="container card">
    <div class="row">
        <div class="col-md-3">
            <div class="text-center">
                <img [src]="api.image" class="rounded mx-auto d-block img-fluid" alt="...">
                <input type="file" class="mt-3" (change)="image_select($event)" *ngIf="!editable" > 
            </div>
        </div>
        <div class="col-md-9">
            <div class="row">
                <div class="col-md-6 mb-5">
                    Name: <input type="text" value="karthik" [disabled]="editable">
                </div>
                <div class="col-md-6">
                    Email: <input type="text" value="karthik@gmail.com" [disabled]="editable">
                </div>
                <div class="col-md-6">
                    Mobile:<input type="text" value="9000101439" [disabled]="editable">
                </div>
                <div class="col-md-6">
                    UserName:<input type="text" value="karthik" [disabled]="editable">
                </div>
            </div>
            <div class="text-center">
                <button mat-raised-button color="primary" class="btn_login mt-3"(click)="OnEdit()" *ngIf="editable">Edit</button>
                <button mat-raised-button color="primary" class="btn_login mt-3"(click)="OnEdit()" *ngIf="!editable">Update</button>

            </div>
        </div>
    </div>
</div>