<div class="row">
    <div class="col">
        <mat-form-field>
            <mat-label>Filter</mat-label>
            <input matInput (keyup)="applyFilter($event)" placeholder="Ex. Mia" #input>
          </mat-form-field>
    </div>
    <div class="col text-end">
        <button mat-raised-button color="primary" (click)="addrow() ">Add</button>
        <button mat-raised-button color="warn" (click)="delete()">Delete</button>

    </div>
</div>
  
  <div class="mat-elevation-z8">
    <table mat-table [dataSource]="dataSource" matSort>
       
        <ng-container matColumnDef="select">
            <th mat-header-cell *matHeaderCellDef>
              <!-- <mat-checkbox 
                           
                >
              </mat-checkbox> -->
            </th>
            <td mat-cell *matCellDef="let row">
              <mat-checkbox (change)="onCheck(row.id)"
                            
                           
                            >
              </mat-checkbox>
            </td>
          </ng-container>

      <!-- ID Column -->
      <ng-container matColumnDef="School_Name">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> School_Name </th>
        <td mat-cell *matCellDef="let row"> 
            <input type="text" name="" id="" placeholder="Provide School Name" value="{{row.School_Name}}">    
        </td>
      </ng-container>
  
      <!-- Progress Column -->
      <ng-container matColumnDef="Board">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Board </th>
        <td mat-cell *matCellDef="let row" > 
            <input type="text" name="" id="" placeholder="Provide Bord Name" value="{{row.Board}}">    

        </td>
      </ng-container>
  
      <!-- Name Column -->
      <ng-container matColumnDef="Medium">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Medium </th>
        <td mat-cell *matCellDef="let row">
            <input type="text" name="" id="" placeholder="Provide Medium" value="{{row.Medium}}">    
    
        </td>
      </ng-container>
  
      <!-- Color Column -->
      <ng-container matColumnDef="Class">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Class </th>
        <td mat-cell *matCellDef="let row" [style.color]="row.color"> 
            <input type="text" name="" id="" placeholder="Provide Clasee" value="{{row.Class}}">    

        </td>
      </ng-container>
  
     
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  
      <!-- Row shown when there is no matching data. -->
      <tr class="mat-row" *matNoDataRow>
        <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
      </tr>
    </table>
  
    <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
  </div>
  

  