svg{
    margin-right: 7px;

}
.bd-highlight{
    margin-right: 10px;
}


img{
    height:50px;
    width:51px;

    border-radius: 58px !important;
    /* border-radius: 231px;} */
    margin-right: 10px;
}

.user_info{
    margin-left: 30px !important;
}
.user_info > p{
    color: silver
}

.btn_save{
    width: 100px;
}
#button-addon2{

}
li{
    list-style-type: none;
}

.sub_comment{
    margin-left: 40px;
    border-left: 1px solid silver;
    padding-left: 22px;

}