<div class="container text-center ">
    <h3 class="text-start">Syllabus</h3>
    <div class="card align-middle">

        <div class="row">
            <div class="col-md-4">
                <mat-form-field appearance="fill">
                    <mat-label>Board</mat-label>
                    <mat-select>
                        <mat-option>Clear</mat-option>
                        <mat-option value="valid">Valid option</mat-option>
                        <mat-option value="invalid">Invalid option</mat-option>
                    </mat-select>

                </mat-form-field>
            </div>
            <div class="col-md-4">
                <mat-form-field appearance="fill">
                    <mat-label>Class</mat-label>
                    <mat-select>
                        <mat-option>Clear</mat-option>
                        <mat-option value="valid">Valid option</mat-option>
                        <mat-option value="invalid">Invalid option</mat-option>
                    </mat-select>

                </mat-form-field>

            </div>
            <div class="col-md-4">
                <mat-form-field appearance="fill">
                    <mat-label>Subject</mat-label>
                    <mat-select>
                        <mat-option>Clear</mat-option>
                        <mat-option value="valid">Valid option</mat-option>
                        <mat-option value="invalid">Invalid option</mat-option>
                    </mat-select>
                </mat-form-field>

            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <mat-form-field class="example-full-width">
                    <mat-label>Leave a comment</mat-label>
                    <textarea matInput placeholder="Ex. It makes me feel..." style="width:100%"></textarea>
                </mat-form-field>
            </div>
            <div class="col-md-6">
                <mat-form-field appearance="fill">
                    <mat-label>Class</mat-label>
                    <mat-select>
                        <mat-option>Clear</mat-option>
                        <mat-option value="valid">Valid option</mat-option>
                        <mat-option value="invalid">Invalid option</mat-option>
                    </mat-select>

                </mat-form-field>

            </div>

        </div>




    </div>

    <div class="row mt-4">
        <div class="form">
            <div class="d-flex align-items-start">

                <div class="nav flex-column nav-pills me-3" id="v-pills-tab" role="tablist" aria-orientation="vertical">

                    <button *ngFor="let item of topics;let i=index" class="nav-link " [ngClass]="{'active' :i==0}"
                        id="v-pills-home-tab{{i}}" data-bs-toggle="pill" attr.data-bs-target="#v-pills-home{{i}}"
                        type="button" role="tab" attr.aria-controls="v-pills-home{{i}}"
                        aria-selected="true">{{item.topic_name}}</button>
                        
                        <button mat-raised-button color="primary" class="btn_login mt-3" (click)="addmain_topic()" >+</button>
                </div>


                <div class="tab-content" id="v-pills-tabContent">

                    <div class="tab-pane fade " *ngFor="let item of topics;let i=index"
                        [ngClass]="{'active show' :i==0}" id="v-pills-home{{i}}" role="tabpanel"
                        attr.aria-labelledby="v-pills-home-tab{{i}}">
                        <div class="row">
                            <h6 class="text-start">Topic</h6>
                            <div class="col-md-6">
                                <mat-form-field appearance="outline">
                                    <mat-label>Description</mat-label>
                                    <input type="text" matInput placeholder="Description">
                                </mat-form-field>
                            </div>
                            <div class="col-md-6">
                                <mat-form-field appearance="outline">
                                    <mat-label>AllotedTIme</mat-label>
                                    <input type="text" matInput placeholder="AllotedTIme">
                                </mat-form-field>
                            </div>
                        </div>
                        
                       <div class="">
                        <h6 class="text-start ">Sub_Topics</h6>
                        <div class="row text-center" *ngFor="let item2 of item.sub_topic;let j=index">
                            
                            <div class="col-md-5">
                                <mat-form-field appearance="outline">
                                    <mat-label>tile</mat-label>
                                    <input type="text" matInput placeholder="title">
                                </mat-form-field>
                            </div>
                            <div class="col-md-5">
                                <mat-form-field appearance="outline">
                                    <mat-label>Description</mat-label>
                                    <input type="title" matInput placeholder="Description">
                                </mat-form-field>
                            </div>
                            <div class="col-md-2">
                                <button mat-raised-button color="warn"  style="width: 3px !important;" class="btn_login mt-3" (click)="remove_subtopic(item2.sid,item.id)">-</button>

                            </div>
                            
                        </div>
                       </div>
                        <div class="text-end" >
                            <button mat-raised-button color="primary"  style="width: 3px !important;" class="btn_login mt-3" (click)="add_subtopic(item.id)">+</button>

                        </div>
                    </div>

                      
                </div>

            </div>

        </div>

    </div>