
<div class="container text-center d-flex justify-content-center">

  <div class="card align-middle">
    <h3>LOGIN</h3> 
        <div class="row">
            <mat-form-field appearance="outline">
             <mat-label>User Name</mat-label>
             <input matInput placeholder="username">
           </mat-form-field>
        </div>
        <div class="row">
            <mat-form-field appearance="outline">
             <mat-label>Password</mat-label>
             <input type="password" matInput placeholder="Password">
           </mat-form-field>
        </div>
       <div class=" text-center">

        <button mat-raised-button color="primary" class="btn_login" routerLink="/dashboard">Login</button>

       </div>
  </div>

</div>