.card{
    width: 500px;
    padding: 30px;
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}
.btn_login{
    width: 100px;
}