svg{
    margin-right: 7px;
    cursor: pointer;

}
.bd-highlight{
    margin-right: 10px;
}


img{
    height:50px;
    width:51px;

    border-radius: 58px !important;
    /* border-radius: 231px;} */
    margin-right: 10px;
}

.user_info{
    margin-left: 30px !important;
}
.user_info > p{
    color: silver
}

.btn_save{
    width: 100px;
}
#button-addon2{

}
li{
    list-style-type: none;
}

.sub_comment{
    margin-left: 40px;
    border-left: 1px solid silver;
    padding-left: 22px;

}

.form-control{
    width:300px
}

.carousel-control-next-icon {
    background-color:black !important;
    color:black !important;
    margin-left:100px
}
.carousel-control-prev-icon {
    background-color:black !important;
    color:black !important;
    margin-right:110px
}

.fullscreen{
    z-index: 9999; 
    width: 100%; 
    height: 100%; 
    position: fixed; 
    top: 0; 
    left: 0; 
    background-color:#fbfbfb  !important;
    /* padding-top: 30px; */
}