.siderbar {
    /* margin-top: 30px; */
    width: 100%;
    background-color: aliceblue;
    height: 100vh;
    padding-top: 50px;
}

img {
    width: 56%;
    border-radius: 58px !important;
    border-radius: 231px;
    text-align: center;
    height: 109px;
}

.nav-items {}

li {
    list-style-type: none;
    margin: 20px;
    text-align: start;
    cursor: pointer;
    /* padding: 10px; */
}

svg {
    margin-right: 10px;
    margin-bottom: 8px;
}